{
    "fuzzy_paths": true,
    "watch_paths": [{
    "path": "/Users/axjns",
    "recursive": true,
    "alert_on": [
        {
            "event_type": "create",
            "path": "*"
        },
              {
            "event_type": "remove",
            "path": "*"
        }
    ]
    }],
    "sink": {
        "log_path": "monitor.log",
        "webhook" :{
            "url" : "http://localhost:8080",
            "method": "POST"
        }
    }
}   